mixin radio_array(name)
  - for(i=0; i <= 5; i++)
    label.sheet-container
      input(type="radio", name="attr_" + name + "_damage", value=i, checked=i === 0 ? "checked" : "")
      span(class="sheet-checkmark")=i

div.2colrow
  div.col
    h2 Anhaltende Einflüsse
    h4 Äusserer Schaden
    +radio_array("ext")
  div.col
    h2 Abgeleitete Ressourcen
    div.2colrow
      div.col
        h4 LeP
        input(type="number", name="attr_hp")
        span /
        input(type="number", name="attr_hp_max" readonly)
      div.col
        h4 Bonus-LeP
        input(type="number", name="attr_bonus_hp")
      
div.2colrow
  div.col
    h4 Innerer Schaden
    +radio_array("int")
      
div.2colrow
  div.col
    h4 Malusschaden
    +radio_array("malus")
  div.col
    div.2colrow
      div.col
        h4 Initiative
        input(type="number", name="attr_init", readonly)
        button(type="roll", name="roll_init", value="&{template:default} {{name=Initiative}} {{result=[[@{init}+0.1 &{tracker}]]}}")
      div.col
        h4 Bonus Initiative
        input(type="number", name="attr_bonus_init")
        
div.2colrow
  div.col
    h4 Lähmungsschaden
    +radio_array("para")

div.2colrow
  div.col
    h2 Schutz &amp; Gesundheit
    label Rüstung
    select(name="attr_armor")
      option(value="0")="Keine"
      option(value="1")="Leicht"
      option(value="2")="Mittel"
      option(value="3")="Schwer"
  div.col
    h2 Handlungen
    label AP
    input(type="number", name="attr_ap")
    span /
    input(type="number", name="attr_ap_max", readonly)

div.1colrow
  div.col
    h4 Minus-LeP
    -for(i=0; i<=10; i++)
      label.sheet-container
        input(type="radio", name="attr_hp_neg", value=i)
        span.sheet-checkmark=(i * -1)

div.1colrow
  div.col
    h1 Heilfaktor

div.2colrow
  div.col
    h4 Erste Hilfe
    -for(i=0; i<3; i++)
      label.sheet-container
        input(type="radio", name="attr_first_aid_used", value=i)
        span.sheet-checkmark=i
  div.col
    h4 Magische Heilung & Elixiere
    -for(i=0; i<5; i++)
      label.sheet-container
        input(type="radio", name="attr_mag_healing_used", value=i)
        span.sheet-checkmark=i
