mixin weapon(name, displayname,  damage, ap, attribute, info)
  tr
    td
      input(type="checkbox" name="attr_weapon_" + name)
    td(title=info)=displayname
      span(class="sheet-info")="i"
    td
      input(type="number", name="attr_weapon_" + name + "_dmg" value=damage disabled)
    td
      input(type="number", name="attr_weapon_" + name + "_ap" value=ap disabled)
    td
      input(type="number", name="attr_weapon_" + name + "_skill")
    td="[+" + attribute + "]"
    td
      input(type="number", name="attr_weapon_" + name + "_sum" readonly)
    td
      button(type="roll", name="roll_weapon_" + name, value="&{template:default} {{name=" + displayname + "}} {{attack=[[@{weapon_" + name + "_sum}d6>5+@{janus_macro}]]}} {{damage=[[@{weapon_" + name + "_dmg}]]}}")

-
  let weapons = [{
    "name": "dagger",
    "displayname": "Messer & Dolche",
    "damage": 1,
    "ap": 1,
    "attribute": "Ges",
    "info": "Giftverwendung / Parade -2, ausser Fausthiebe, Dolche & Messer" 
  },{
    "name": "fencing",
    "displayname": "Fechtwaffen",
    "damage": 2,
    "ap": 1,
    "attribute": "Ath",
    "info": "Parade -1 pro gebundenen Gegner über dem ersten" 
  },{
    "name": "swords",
    "displayname": "Schwerter",
    "damage": 3,
    "ap": 2,
    "attribute": "Kkr",
    "info": "Voll parierfähig" 
  },{
    "name": "saber",
    "displayname": "Säbel",
    "damage": 4,
    "ap": 2,
    "attribute": "Kkr",
    "info": "Parade -1" 
  },{
    "name": "saber_mounted",
    "displayname": "Säbel (beritten)",
    "damage": 5,
    "ap": 2,
    "attribute": "Kkr",
    "info": "Parade -1" 
  },{
    "name": "bludgeoning",
    "displayname": "Schlagwaffen",
    "damage": 5,
    "ap": 2,
    "attribute": "Kkr",
    "info": "Parade -2" 
  },{
    "name": "polearms",
    "displayname": "Stangenwaffen",
    "damage": 6,
    "ap": 3,
    "attribute": "Kkr",
    "info": "Parade kostet 2 AP" 
  },{
    "name": "polearms_vs_m",
    "displayname": "Stangenwaffen (gegen Reiter)",
    "damage": 8,
    "ap": 3,
    "attribute": "Kkr",
    "info": "Parade kostet 2 AP" 
  },{
    "name": "lance",
    "displayname": "Lanzen",
    "damage": 6,
    "ap": 3,
    "attribute": "Kkr",
    "info": "Parade kostet 2 AP" 
  },{
    "name": "lance_mounted",
    "displayname": "Lanzen (beritten)",
    "damage": 7,
    "ap": 2,
    "attribute": "Kkr",
    "info": "Parade kostet 2 AP" 
  },{
    "name": "sling",
    "displayname": "Schleuder",
    "damage": 1,
    "ap": 2,
    "attribute": "Ges",
    "info": "Geschossgeeignet, Werfer muss freistehen" 
  },{
    "name": "pistol",
    "displayname": "Pistole",
    "damage": 3,
    "ap": 2,
    "attribute": "Sin",
    "info": "Immer freie Schussmöglichkeit" 
  },{
    "name": "crossbow",
    "displayname": "Armbrust",
    "damage": 5,
    "ap": 3,
    "attribute": "Sin",
    "info": "Schütze muss freistehen" 
  },{
    "name": "musket",
    "displayname": "Muskete",
    "damage": 8,
    "ap": 3,
    "attribute": "Sin",
    "info": "Schütze und Ziel müssen freistehen" 
  }]
        
h2 Waffenübersicht
table
  tr
    th Waffe dabei?
    th Name
    th Schaden
    th AP
    th FW
    th Attribut
    th Summe
    th
  tr
    td
      input(type="checkbox" name="attr_weapon_fist" checked="checked" disabled)
    td(title="Parade -3 ausser Fausthiebe")="Fausthieb"
      span(class="sheet-info")="i"
    td
      input(type="number", name="attr_weapon_fist_dmg" value="0" disabled)
    td
      input(type="number", name="attr_weapon_fist_ap" value="1" disabled)
    td
      input(type="number", name="attr_weapon_fist_skill")
    td="[+Ath]"
    td
      input(type="number", name="attr_weapon_fist_sum" readonly)
    td
      button(type="roll", name="roll_weapon_fist", value="&{template:default} {{name=Fausthieb}} {{attack=[[@{weapon_fist_sum}d6>5+@{janus_macro}]]}} {{damage=[[@{weapon_fist_dmg}]]}}")
  each weapon in weapons
    +weapon(weapon.name, weapon.displayname, weapon.damage, weapon.ap, weapon.attribute, weapon.info)
  tr
    td
      input(type="checkbox" name="attr_weapon_dodge" checked="checked" disabled)
    td(title="Pro gebundenen Gegner -1, Distanzangriffe -1")="Ausweichen"
      span(class="sheet-info")="i"
    td
    td
      input(type="number", name="attr_weapon_dodge_ap" value="1" disabled)
    td
      input(type="number", name="attr_weapon_dodge_skill")
    td="[+Ath]"
    td
      input(type="number", name="attr_weapon_dodge_sum" readonly)
    td
      button(type="roll", name="roll_weapon_dodge", value="&{template:default} {{name=Ausweichen}} {{attack=[[@{weapon_dodge_sum}d6>5+@{janus_macro}]]}}")
  tr
    td
      input(type="checkbox" name="attr_weapon_shield")
    td(title="Nur 1x/Runde; Blockt Distanzangriffe")="Schildbenutzung"
      span(class="sheet-info")="i"
    td
    td
      input(type="number", name="attr_weapon_shield_ap" value="1" disabled)
    td
      input(type="number", name="attr_weapon_shield_skill")
    td="[+Ath]"
    td
      input(type="number", name="attr_weapon_shield_sum" readonly)
    td
      button(type="roll", name="roll_weapon_shield", value="&{template:default} {{name=Schildbenutzung}} {{attack=[[@{weapon_shield_sum}d6>5+@{janus_macro}]]}}")
    
